@model PizzaBox.Models.PorderModel

@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>

<div>
    <h4>PorderModel</h4>
    <hr />
    <dl class="row">
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderCost)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zipcode)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Place Order", "PlaceOrder", new {  id = Model.PUserId }) |
</div>
